<div fxLayout="row" fxLayoutAlign="center center" class="preloader">
  <div id="inTurnBlurringTextG">
    <div id="inTurnBlurringTextG_1" class="inTurnBlurringTextG">f</div>
    <div id="inTurnBlurringTextG_2" class="inTurnBlurringTextG">i</div>
    <div id="inTurnBlurringTextG_3" class="inTurnBlurringTextG">n</div>
    <div id="inTurnBlurringTextG_4" class="inTurnBlurringTextG">e</div>
    <div id="inTurnBlurringTextG_5" class="inTurnBlurringTextG">r</div>
    <div id="inTurnBlurringTextG_6" class="green">E</div>
    <div id="inTurnBlurringTextG_7" class="inTurnBlurringTextG">d</div>
    <div id="inTurnBlurringTextG_8" class="inTurnBlurringTextG">g</div>
    <div id="inTurnBlurringTextG_9" class="inTurnBlurringTextG">e</div>
  </div>
</div>
