<!--<iframe src="https://www.youtube.com/embed/w-kG6Xm7Zt0?autoplay=1;rel=0" frameborder="0" allowfullscreen></iframe>-->
<section class="main_content">
  <div>
    <div class="contens" markdown-to-html>
      <h2>About Us</h2>
      <img src="/assets/images/ClientPhoto.jpg" class="client">
      {{data[0]}}
    </div>
  </div>
  <div *ngFor="let d of data.slice(1)" class="contens">
    <span markdown-to-html [innerHtml]="d"></span>
  </div>
</section>
<div class="backg"></div>
<app-services></app-services>1
