.footer{
  margin-top: 100px;
  padding: 2vh 0 8vh 0;
  border-top: 3px solid #eee;
  color: #aaa;
  text-align: center;
  background-color: white;
}

b{
  color: #999;
}

.links{
  font-size: 1.5rem;
  padding: 10px;
  color: #555;
}
