<mat-tab-group (selectedTabChange)="onSelect($event)">
  <mat-tab *ngFor="let cat of data; let i = index">
    <ng-template mat-tab-label>
      <div class="pseudo" (click)=" i===0 ? go(i):''" fxLayoutAlign="center center"><span>{{cat}}</span></div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>

<div *ngIf="this.router.url.split('/').slice(-1)[0] === 'projects'" class="my-container" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around ">
  <div fxLayout="column" fxLayoutAlign="space-between space-between" class="columns" *ngFor="let it of splitArray(); let i = index">
    <div *ngFor="let subit of it; let j = index" class="img">
      <div class="imagewrapper">
        <img [src]="'/assets/projects/'+subit" #image [routerLink]="arrange[i + j * 3]">
        <div class="label">{{data[arrange[i + j * 3]]}}</div>
      </div>
    </div>
  </div>
</div>
