.img {
  width: 24.7vw;
  z-index: 1;
}

.img:hover{
  filter: brightness(130%);
  cursor: pointer;
}

.img img {
  width: 100%;
}

.fixit {
  position: fixed;
  top: 10vh;
  left: 25vw;
}

.my-container {
  height: 85vh;
}

.widen .img{
  width: 20vw;
}

.pseudo{
  height: 5vh;
  width: 100%;
}
