.nav{
  height: 10vh;
  position: fixed;
  width: 100vw;
  z-index: 900;
  background-color: transparent;
}

.pseudo_element{
  height: 10vh;
}
.logo{
  padding: 2vh 4vw;
  height: 6vh;
  margin-left: 20px;
  margin-right: 50vw;
}

img{
  height: 100%;
}

.menu-item{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: .3vw;
  color: #fff;
  text-shadow: 2px 2px black;
  font-family: proxima;
}

.menu-item:hover{
  cursor: pointer;
  color: #000;
  text-shadow: none;
}

.pos{
  position: absolute;
  right: 70px;
  top: 3vh;
}

.nonhome{
  background-color: white;
}
