.def{
  /*width: 80vw;*/
  /*margin: 10vh 10vw;*/
}

.def .pics{
  width: 24vw;
}

img, iframe{
  width: 100%;
}

iframe{
  height: 40vh;
}

.def ._text{
  width: 50vw;
}

._text div{
  width: 38vw;
  text-align: center;
  font-size: 1.5rem;
  color: #666;
}

.pics{
  height: 100%;
  filter: sepia(30%) saturate(180%);
}

.def .slight{
  width: 27vw;
}

h1{
  font-family: badoniit;
  font-weight: 100;
  color: #7c0400;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (max-width: 1023px) {
  .pics{
    position: fixed;
  }
  .left{
    left: 0;
  }
  .right{
    right: 0;
  }
}
