<div class="full-width optiheight">
  <app-slick [slides]="slides" [slideConfig]="slideConfig"></app-slick>
</div>
<div class="content">
  <div fxLayout="column" fxLayoutAlign="center center" class="cent_width bor_down">
    <div class="serv">
      Interior design, urban planning and sustainable projects<br>
      Quality work as well as Time and Cost savings.
    </div>
    <span class="btns" routerLink="services">More services</span>
  </div>
  <app-collection></app-collection>
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="slogan" ngsReveal>“We believe in the constant exploration of design concepts and thoughts that will
      ultimately contribute to making the environment a better place to live in.”<br>
    </div>
    <div class="speaker" fxLayout="column" fxLayoutAlign="end left">
      <div>ARCHITECT</div>
      <div>Vivek Kishore</div>
    </div>
  </div>
  <br>
  <span class="btns" routerLink="about">More about us</span>
</div>
