<mat-sidenav-container class="projects">
  <mat-sidenav mode="side" opened="true" #sidenav class="sidenav" fxLayoutAlign="end center">
    <div class="btn" (click)="sidenav.toggle(); status = false">
      <span>hide</span>
      <i class="fa fa-chevron-left"></i>
    </div>
    <div fxLayout="column" fxLayoutAlign="center end">
      <div class="sideitem" *ngFor="let cat of categories; let i = index"
           [class.selected]="selectedindex==i" (click)="selectedindex=i">
        {{cat}}</div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-gallery [data]="categories" [stats]="status"></app-gallery>
    <button (click)="sidenav.toggle(); status = !status;" *ngIf="!status">
      <i class="fa fa-chevron-right"></i> <span>categories</span>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
