<div class="my-container" fxLayout="row" fxLayoutWrap fxLayoutAlign="start start">
  <div fxLayout="column" fxLayoutAlign="center center" class="columns" *ngFor="let it of splitArray(); let i = index">
    <div *ngFor="let subit of it; let j = index" class="img" [style.width]="mobile ? '99.6vw': (tooless?'49.5vw':'33vw')">
      <div>
        <div class="imagewrapper">
          <div *ngIf="!_caption" [style.background-image]="'url('+dir + elementtoshow + ext+')'"
               [class.expand]="clickedelem === i + j * 3" class="hidden">
            <div class="next" (click)="next()" *ngIf="+elementtoshow < len"><i class="fa fa-caret-right"></i></div>
            <div class="prev" (click)="previous()" *ngIf="+elementtoshow > 1"><i class="fa fa-caret-left"></i></div>
            <div class="close" (click)="clickedelem = -1"><i class="fa fa-close"></i></div>
          </div>
          <div *ngIf="i===0 && j===0 && walkthrough && !_caption">
            <img  *ngIf="!showiframe" src="/assets/play2.jpg" class="dummy" (click)="showiframe = true">
            <iframe *ngIf="showiframe" [src]="sanitize()" frameborder="0" allowfullscreen></iframe>
          </div>
          <img [src]="dir + subit + ext" #image (click)="clicked(i + j * 3, subit)">
          <div *ngIf="_caption" class="label">{{beautify(subit).toUpperCase()}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
