<div class="my-container" fxLayout="row" fxLayoutWrap fxLayoutAlign="start start">
  <div fxLayout="column" fxLayoutAlign="center center" class="columns" *ngFor="let it of finalData; let i = index">
    <div *ngFor="let subit of it; let j = index" class="img" [style.width]="tooless?'49.5vw':'33vw'">
      <div>
        <div class="imagewrapper" (click)="clicked(i*div + j, subit)">
          <a [href]="dir + subit + ext" target="_blank" *ngIf="!_caption"><img [src]="dir + subit + ext" #image></a>
          <img [src]="dir + subit + ext" #image *ngIf="_caption">
          <div *ngIf="_caption" class="label">{{beautify(subit).toUpperCase()}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
