.img {
  width: 24.7vw;
  z-index: 1;
}

.img:hover{
  filter: brightness(130%);
  cursor: pointer;
}

.img img {
  width: 100%;
}

.fixit {
  position: fixed;
  top: 10vh;
  left: 25vw;
}

.my-container {
  height: 85vh;
}

.widen .img{
  width: 20vw;
}

.imagewrapper{
  position: relative;
}

.imagewrapper div{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3vh;
  padding: 0.5vh;
  z-index: 5;
  font-weight: 900;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 1.5rem;
  background-color: transparent;
  transition: all 0.5s ease-out;
}

.imagewrapper:hover div{
  background-color: white;
  text-shadow: none;
  color: #000;
}
