.slide{
  width: 100vw;
}

._img{
  width: 100vw;
  height: 90vh;
  object-fit: contain;
  background-color: rgba(0,0,0,0.06);
  filter: sepia(30%) saturate(120%) contrast(150%);
}

.carousel{
  width: 100vw;
  height: 90vh;
}

.snipit{
  height: 90vh;
  display: block;
  overflow: hidden;
}
