<section class="main_content">
  <div>
    <div class="contens"><h1>{{data[0].name}}</h1>
      {{data[0].content}}
    </div>
    <div class="blockset" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3vh">
      <span class="blockhead">We ensure that our approach will achieve..</span>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
        <div *ngFor="let d of data[0].blocks" class="blocks" fxLayoutAlign="center center" fxLayout="column"
             fxLayoutGap="4vh">
          <i [class]="d.pic"></i>
          <span>{{d.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let d of data.slice(1)" class="contens">
    <h1>{{d.name}}</h1>
    <span markdown-to-html [innerHtml]="d.content"></span>
  </div>
</section>
<div class="backg"></div>
