/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "/assets/font/font-awesome/css/font-awesome.min.css";
@font-face {
  font-family: proxima;
  src: url("/assets/font/proxim.ttf");
}
@font-face {
  font-family: badoniit;
  src: url("/assets/font/BodoniItalic.ttf");
}
html,body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
  font-family: proxima;
  font-size: 14px;
}

::-webkit-scrollbar {
  background-color: #fff;
  width: 0.3vw;
  /*display: none;*/
}

::-webkit-scrollbar-thumb {
  background-color: #999;
}


b{
  display: block;
  font-size: 1.7rem;
  color: #444;
}

@media (max-width: 1023px) {
  html,body{
    font-size: 8px;
  }
}
